.advantages-section {
}
.advantages-section__title {
   font-family: Roboto;
    font-size: 35px;
    line-height: 41.02px;
    text-align: center;
    color: #383A4C;
    margin-bottom: 25px;
}
.advantages-section__subtitle {
    font-family: Roboto;
    font-size: 22px;
    line-height: 25.78px;
    text-align: center;
    color: #383A4C;
    margin-bottom: 35px;
}
.advantages-section__text {
    font-size: 18px;
    line-height: 25.31px;
    font-weight: 400;
    color: #383A4C;
    max-width: 724px;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 56px;
}
.advantages__block {
    max-width: 886px;

}
.advantages {
    display: flex;
    justify-content: space-between;
    max-width: 886px;
    margin: 0 auto;
}

.advantages-section__list{
    max-width: 934px;
}
.advantages__item {
    width: 196px;
    height: 196px;
}
.advantage {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    max-width: 196px;
}
.advantage__number {
    border-radius: 50%;
    background-color: #23C7EC;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 57px;
    line-height: 57px;
    font-weight: 500;
    width: 122px;
    height: 122px;
    flex-shrink: 0;
}
.advantage__text {
    font-size: 20px;
    line-height: 28.13px;
    font-weight: 500;
    color: #383A4C;
    text-align: center;
}

@media (max-width: 1200px) {
    .advantages__block {
        padding-left: 105px;
        padding-right: 105px;
        margin-bottom: 50px;
    }
    .advantages-section__title {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 23px;
    }
    .advantages-section__subtitle {
       
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 33px;
    }
    .advantages__block2 {
        padding-left: 73px;
        padding-right: 73px;
    }
    .advantages-section__text{
        font-size: 16px;
        line-height: 22.5px;
    }
    .section-subtitle:before,.section-subtitle:after {
        width: 40px;
    }
    .advantages__block3 {
        padding-left: 76px;
        padding-right: 76px;
    }
    .advantages-section__list {
        max-width: 870px;
    }
    .advantages__item {
        width: 180px;
        height: 182px;
    }
    .advantage__number {
        width: 104px;
        height: 104px;
    }
    .advantage__text {
        width: 180px;
        height: 52px;
    }
}

@media (max-width: 810px) {
    .advantages-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .advantages__block3 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .advantages-section__title {
        font-size: 27px;
        line-height: 32px;
        margin-bottom: 23px;
    }
    .advantages-section__list {
        max-width: 616px;
    }
    .advantages__item {
        width: 141px;
        height: 143px;
    }
    .advantage__number {
        width: 84px;
        height: 84px;
    }
    .advantage__text {
        width: 153px;
        height: 48px;
        font-size: 17px;
        line-height: 20px;
    }
    .advantages-section__text{
        margin-bottom: 0px;
    }
}
@media (max-width: 630px) {
    .advantages-section__list {
        max-width: 516px;
    }
    .advantages__item {
        width: 130px;
        height: 130px;
    }
    .advantage__number {
        width: 74px;
        height: 74px;
    }
    .advantage__text {
        width: 133px;
        height: 48px;
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 530px) {
    .advantages__block {
        padding-left: 50px;
        padding-right: 50px;
    }
    .advantages__block2 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .advantages-section__list{
        flex-direction: column;
        column-gap: 40px;
        align-items: center;
        width: 190px;
    }
    .advantages-section__list {
        max-width: 870px;
    }
    .advantages__item {
        width: 180px;
        height: 182px;
    }
    .advantage__number {
        width: 104px;
        height: 104px;
    }
    .advantage__text {
        width: 180px;
        height: 52px;
    }
}

@media (max-width: 320px) {
    .advantages-section{
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .advantages {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 40px;
    }
    .advantages-section__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .advantages__block {
        padding-left: 0px;
        padding-right: 0px;
    }
    .advantages-section__subtitle {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 26px;
    }
    .section-subtitle:before,.section-subtitle:after {
        width: 20px;
    }
    .advantages__block {
        margin-bottom: 0;
    }
    .advantages__block2 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .advantages-section__text {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 0;
    }
    .advantages__block3 {
        padding-left: 65px;
        padding-right: 65px;
    }
   
    .advantages-section__list {
       padding-left: 12px;
       padding-right: 12px;
    }
    .advantages__item {
        column-gap: 40px;
    }

}




